/* ===================== */
/* ==== Roboto Mono ==== */
/* ===================== */

/* ==== FONT WEIGHT 100 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
/* ==== FONT WEIGHT 200 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-ExtraLightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
/* ==== FONT WEIGHT 300 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
/* ==== FONT WEIGHT 400 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
/* ==== FONT WEIGHT 500 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
/* ==== FONT WEIGHT 600 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}
/* ==== FONT WEIGHT 700 ==== */
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto Mono;
  src: url(./RobotoMono/RobotoMono-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
